::placeholder {
    font-size: 12px;
}

  /* Forcer la taille du texte saisi */
  .mat-mdc-input-element {
    font-size: 12px !important;
  }

  .bg-ajout {
    background-color: rgba(230, 239, 237, 0.3); /* même couleur que sidebar mais avec alpha */
  }

  .titre-gradient {
    color: #9BBFB8;
  }
  