<div id="full-cover-background" class="flex h-screen bg-gray-100">

    <div id="centered-block" class="bg-white p-6 rounded-x1 shadow-md w-150 m-auto">
        <form [formGroup]="formGroup" (ngSubmit)="onAddTodo()">
            <div id="todo-bar-saisie" class="flex gap-2 m-4">
                <mat-form-field appearance="outline" class="flex-1">
                    <input matInput formControlName="title" placeholder="Nouvelle tâche">
                </mat-form-field>
                <button mat-mini-fab type="submit" class="mt-2">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </form>
        <div id="todo-liste">
            <mat-list>
                @for(todo of todos; track todo.id) {
                <mat-list-item>
                    <div class="flex items-center">
                        <mat-checkbox [checked]="todo.completed" (change)="onCheckChange($event, todo)"></mat-checkbox>
                        <span [routerLink]="['/tododetails', todo.id]" class="flex-1 cursor-pointer">{{ todo.title
                            }}</span>
                        <button mat-icon-button (click)="onDeleteTodo(todo.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                }
            </mat-list>
        </div>
    </div>

</div>