<mat-card class="h-full w-2xl flex flex-col">
    <form [formGroup]="formGroup" (ngSubmit)="onAddUser()">
        <div id="todo-bar-saisie" class="flex gap-2 m-4">
            <mat-form-field appearance="outline" class="flex-1">
                <input matInput formControlName="title" placeholder="Nouvel utilisateur">
            </mat-form-field>
            <button mat-fab type="submit">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </form>
    <div id="user-liste">
        <mat-list>
            @for(user of users; track user.id) {
                <mat-list-item>
                    {{ user.prenom }}, {{ user.nom }}, {{ user.sexe }}
                </mat-list-item>
            }
        </mat-list>
    </div>
</mat-card>