<div id="full-cover-background" class="mx-auto max-w-3xl mt-5 px-4 md:px-8">

  <div class="flex justify-center text-5xl font-bold mt-8 mb-16">
    Salut&nbsp;
  
    <span class="bg-linear-to-r from-pink-500 to-orange-500 bg-clip-text text-transparent">
      {{ utilisateur?.surname }} !
    </span>
  </div>

  <!-- Progression globale -->
  <div class="w-full max-w-md mx-auto mb-8">

    <!-- Titre + Badge alignés -->
    <div class="flex items-center justify-between mb-6">
      <h3 class="text-md font-medium text-gray-700">Ta progression</h3>

      <!-- Badge -->
      <div *ngIf="getBadgeMotivation() as badge" [ngClass]="badge.color"
        class="flex items-center gap-2 px-3 py-1 rounded-full text-sm font-semibold">
        <mat-icon class="text-sm!">{{ badge.icon }}</mat-icon>
        {{ badge.label }}
      </div>
    </div>

    <!-- Barre progression -->
    <div class="w-full bg-gray-200 rounded-full h-6">
      <div class="h-6 rounded-full bg-emerald-300 flex items-center text-black text-sm transition-all duration-500"
        [style.width.%]="getProgressionGlobale()" [ngClass]="{ 'pl-2 justify-start': getProgressionGlobale() < 15,
                        'justify-center': getProgressionGlobale() >= 15 }">
        {{ getProgressionGlobale() }}%
      </div>
    </div>
  </div>

  <!-- Accordéon des tâches par état -->
  <div class="w-full max-w-xl mx-auto mt-25">
    <mat-accordion multi class="shadow-none">
      @for (kpi of kpis; track kpi.id) {
      <mat-expansion-panel class="!shadow-none border border-gray-200 rounded-lg overflow-hidden mb-3">

        <!-- Header -->
        <mat-expansion-panel-header>
          <mat-panel-title class="flex items-center gap-4 text-sm min-w-[40%]">
            <mat-icon class="text-md">{{ kpi.icon }}</mat-icon>
            {{ kpi.title }}
          </mat-panel-title>
          <mat-panel-description>
            <span class="px-2 py-0.5 rounded-full text-xs font-semibold text-white" [ngClass]="kpi.bg">
              {{ kpi.number }}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Liste des tâches -->
        <ul class="space-y-2 mt-2 list-none">
          @for (todo of getTodosByEtat(kpi.etat); track todo.id) {
          <li class="bg-white rounded-lg px-3 py-2 border hover:bg-gray-50 transition">

            <!-- Ligne principale -->
            <div class="flex justify-between items-center">
              <span [routerLink]="['/tododetails', todo.id]" class="font-medium text-sm text-gray-800 cursor-pointer">{{ todo.title }}</span>
              <span class="text-xs text-gray-500">
                {{ todo.dueDate ? (todo.dueDate | date:'dd/MM') : 'flexible' }}
              </span>
            </div>

            <!-- Contacts -->
            <div *ngIf="todo.membres?.length" class="mt-1 flex flex-wrap gap-1.5">
              @for (m of todo.membres; track m.id) {
              <span class="px-2 py-0.5 bg-emerald-100 text-emerald-700 rounded-full text-[10px] cursor-pointer" [matMenuTriggerFor]="menu">
                {{ m.prenom }} {{ m.nom }}
              </span>
              <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                  <button mat-menu-item (click)="sendEmail(todo.title, m)" class="!text-sm">
                    📧 Envoyer un email
                  </button>
                </ng-template>
              </mat-menu>
              }
            </div>

          

            <!-- Utilisateurs -->
            <div *ngIf="todo.utilisateursAssignes?.length" class="mt-1 flex flex-wrap gap-1.5">
              @for (m of todo.utilisateursAssignes; track m.id) {
              <span class="px-2 py-0.5 bg-emerald-100 text-blue-700 rounded-full text-[10px]">
                {{ m.surname}} {{ m.name }}
              </span>
              }
            </div>

            <!-- Priorité -->
            <div *ngIf="todo.priorite" class="mt-1">
              <span class="text-[10px] px-2 py-0.5 rounded-full" [ngClass]="{
                          'bg-pink-200 text-pink-800': todo.priorite >= 2,
                          'bg-gray-200 text-gray-600': todo.priorite < 2
                        }">
                Priorité {{ todo.priorite }}
              </span>
            </div>
          </li>
          }
        </ul>

      </mat-expansion-panel>
      }

      <!-- Projets avec leurs tâches -->
      <mat-expansion-panel class="!shadow-none border border-gray-200 rounded-lg overflow-hidden mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title class="flex items-center gap-4 text-sm min-w-[40%]">
            <mat-icon class="text-md">folder_open</mat-icon>
            Projets
          </mat-panel-title>
          <mat-panel-description>
            <span class="px-2 py-0.5 rounded-full text-xs font-semibold text-white bg-purple-400">
              {{ getProjetCount() }}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>


        <div *ngFor="let group of projectsWithTodos" class="mb-3">
          <h4 class="text-sm font-semibold text-gray-700 flex items-center justify-between">
            <span [routerLink]="['/projetdetails', group.projet.id]"  class="cursor-pointer">{{ group.projet.title }}</span>
            <span class="text-xs px-2 py-0.5 rounded-full bg-gray-200 text-gray-700">
              {{ group.todos.length }} tâches
            </span>
          </h4>
    
          <ul class="space-y-2 mt-2 list-none">
            <li *ngFor="let todo of group.todos"
              class="bg-white rounded-lg px-3 py-2 border hover:bg-gray-50 transition">
            <!-- Ligne principale -->
            <div class="flex justify-between items-center">
              <span [routerLink]="['/tododetails', todo.id]" class="font-medium text-sm text-gray-800 cursor-pointer">{{ todo.title }}</span>
              <span class="text-xs text-gray-500">
                {{ todo.dueDate ? (todo.dueDate | date:'dd/MM') : 'flexible' }}
              </span>
            </div>
            </li>
          </ul>
   
        </div>
      </mat-expansion-panel>

      <!-- Panneau fixe pour tâches assignées -->
      <mat-expansion-panel class="!shadow-none border border-gray-200 rounded-lg overflow-hidden mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title class="flex items-center gap-4 text-sm min-w-[40%]">
            <mat-icon class="text-md">assignment_ind</mat-icon>
            Tâches assignées
          </mat-panel-title>
          <mat-panel-description>
            <span class="px-2 py-0.5 rounded-full text-xs font-semibold text-white bg-emerald-400">
              {{ myAssignedTasks.length }}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ul class="space-y-2 mt-2 list-none">
          <li *ngFor="let todo of myAssignedTasks"
            class="bg-white rounded-lg px-3 py-2 border hover:bg-gray-50 transition">
            <div class="flex justify-between items-center">
              <div>
                <span [routerLink]="['/tododetails', todo.id]" class="font-medium text-sm text-gray-800 cursor-pointer">{{ todo.title }}</span>
                <div class="text-xs text-gray-500">
                  Créée par :
                  <strong>{{ (todo.surname + ' ' + todo.name) || 'Inconnu' }}</strong>
                </div>
              </div>
              <span class="text-xs text-gray-500">
                {{ todo.dueDate ? (todo.dueDate | date:'dd/MM') : 'flexible' }}
              </span>
            </div>
          </li>
        </ul>

        <div *ngIf="!myAssignedTasks.length" class="text-sm text-gray-500 mt-2">
          Vous n'avez pas encore de tâches assignées.
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <!-- Activités + complétées -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-20 w-full mx-auto">

    <!-- Récentes activités -->
    <div>
      <h3 class="text-base text-gray-700 mb-3">Dernières tâches ajoutées</h3>
      <ul class="space-y-2 pl-0">
        @for (todo of recentTodos; track todo.id) {
        <li class="flex justify-between items-center bg-white rounded-lg shadow-xs px-3 py-2">
          <span [routerLink]="['/tododetails', todo.id]" class="text-sm cursor-pointer">{{ todo.title }}</span>
          <span class="text-xs text-gray-500">
            {{ todo.dueDate ? ('pour le ' + (todo.dueDate | date:'dd/MM')) : 'flexible' }}
          </span>
        </li>
        }
      </ul>
    </div>

    <!-- Tâches complétées -->
    <div>
      <h3 class="text-base text-gray-700 mb-3">Tâches complétées</h3>
      <ul class="space-y-2 pl-0">
        @for (todo of completedTodos; track todo.id) {
        <li class="flex items-center gap-2 bg-white rounded-lg px-3 py-2 text-sm text-gray-600">
          <mat-icon class="text-emerald-400 text-sm">check_circle</mat-icon>
          <span [routerLink]="['/tododetails', todo.id]" class="line-through cursor-pointer">{{ todo.title }}</span>
        </li>
        }
      </ul>
    </div>
  </div>
</div>