
/* Forcer la taille du texte saisi */
.mat-mdc-input-element {
  font-size: 12px !important;
}

mat-option {
  font-size: 12px !important;
}

mat-select {
  font-size: 12px !important;
}

.titre-gradient {
  color: #9BBFB8;
}