
/* Fond réel de la sidenav (élément qui peint vraiment le background) */
.custom-sidenav {
  background-color: #E6EFED !important;
}


/* =========================
   LIENS DE LA SIDEBAR
   ========================= */

mat-sidenav a.mat-mdc-list-item {
  border-radius: 0;
}

mat-sidenav a.mat-mdc-list-item:hover,
mat-sidenav a.mat-mdc-list-item:focus {
  background-color: #f3f4f6; /* gray-100 */
}

mat-sidenav a.mat-mdc-list-item.cdk-program-focused {
  outline: 2px solid #000;
  outline-offset: -2px;
}

/* =========================
   MENU MOBILE
   ========================= */

#menumob a {
  font-size: 0.8rem;
}

/* =========================
   ICONES
   ========================= */

mat-icon {
  font-size: 16px;
  color: #333;
}
