<mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" fixedInViewport class="custom-sidenav !rounded-none" [ngClass]="{
        'bg-admin': authService.isAdmin(),
        'bg-user': authService.isUser(),
        'bg-default': !authService.isAdmin() && !authService.isUser()
      }">
        <!-- #sidenav = variable template pour déclencher le menu à partir de l'évenement-->
        <mat-nav-list>

            @if (!authService.isLoggedIn()) {
            @for (item of listMenuPasLogged; track item.path) {
            <a mat-list-item class="!text-white" [routerLink]="item.path"><span class="!text-white">{{ item.title }}</span></a>
            }
            }

            @for (item of listMenu; track item.path) {
            @if (authService.isAdmin() || (authService.isUser() && item.path !== '/utilisateurs')) {
            <a mat-list-item class="!text-white" [routerLink]="item.path"><span class="!text-white">{{ item.title }}</span></a>
            }
            }
            <!--
        <a mat-list-item routerLink="/login">Login</a>
        <a mat-list-item routerLink="/signup">Inscription</a>
        <a mat-list-item routerLink="/profil">Mon profil</a>
        <a mat-list-item routerLink="/dashboard">Mon dashboard</a>
        <a mat-list-item routerLink="/todolist">Ma to-do list</a>
        <a mat-list-item routerLink="/todotable">Mon récap'</a>
        <a mat-list-item routerLink="/calculette">Ma calculatrice</a>
            visible que pour les admins
            <a mat-list-item *ngIf="authService.isAdmin()" routerLink="/utilisateurs">Utilisateurs</a>
        <a mat-list-item routerLink="/logout">Logout</a>
        -->

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="flex flex-col h-screen px-4 md:px-0">
            <div id="div-toolbar">
                <mat-toolbar>

                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon class="text-gray-500">menu</mat-icon>
                    </button>

                    <span class="text-gray-700">
                        {{title}}
                    </span>

                </mat-toolbar>
            </div>

            <div id="div-router" class="flex-1 overflow-auto"> <!-- pour que la div-router occupe tout l'espace restant-->
                <router-outlet />
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>