<div id="full-cover-background" class="flex justify-center mt-30">

    <div id="centered-block" class="bg-white w-full max-w-sm p-6 rounded-xl shadow-md text-center">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center mb-12 font-semibold">Connexion</h2>

        
            <div id="email-container" class="mb-4">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="username" type="email" placeholder="email (mettre : admin@test.com)"/>
                </mat-form-field>
            </div>

            <div id="password-container" class="mb-4">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="password (mettre : admin)"/>
                </mat-form-field>

            </div>

            <button mat-icon-button type="submit" class="w-full">
               <mat-icon> login </mat-icon>
            </button>
        </form>
    </div>
</div>