<div id="full-cover-background"
  class="mx-auto rounded-[40px] border border-gray-200 bg-white 
         p-6 md:p-8 text-sm flex flex-col mt-20 max-w-md">

  <div id="centered-block" class="w-full">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Titre -->
      <mat-card-header class="w-full flex justify-center mb-15">
        <h2 class="text-center text-xl font-semibold text-gray-500">
          Connexion
        </h2>
      </mat-card-header>

      <!-- Champs -->
      <div class="space-y-3">
        <!-- Email -->
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="username" type="email"
                 placeholder="email (ex: admin@test.com)" />
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" type="password"
                 placeholder="mot de passe (ex: admin)" />
        </mat-form-field>
      </div>

      <!-- Bouton -->
       <div class="flex flex-col items-center gap-3">
      <div class="flex justify-center mt-12">
        <button mat-raised-button type="submit"
                class="px-6 py-2 rounded-lg !bg-emerald-200 text-black hover:!bg-emerald-300 flex items-center gap-2">
          <mat-icon>login</mat-icon> Se connecter
        </button>
      </div>
        <p class="text-xs">Pas de compte ? <span [routerLink]="['/signup']" class="text-emerald-500 hover:text-black cursor-pointer">Je m'inscris</span></p>
    </div>

    </form>
  </div>
</div>
