<div id="full-cover-background" class="flex justify-center mt-30">
    <div id="centered-block" class="bg-white w-full max-w-sm p-6 rounded-xl shadow-md text-center">
  
      <form *ngIf="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center mb-12 font-semibold">Création de compte</h2>
  
        <div id="name-cont" class="mb-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name" type="text" placeholder="nom" />
          </mat-form-field>
        </div>
  
        <div id="surname-cont" class="mb-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="surname" type="text" placeholder="prénom" />
          </mat-form-field>
        </div>
  
        <div id="username-cont" class="mb-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" type="text" placeholder="email" />
          </mat-form-field>
        </div>
  
        <div id="usergenre-cont" class="mb-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genre">
              <mat-option *ngFor="let genre of listGenre" [value]="genre.value">
                {{ genre.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div id="password-cont" class="mb-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password" placeholder="mot de passe" />
          </mat-form-field>
        </div>
  
        <button mat-stroked-button type="submit" class="w-40 mt-10">
          Créer un compte
        </button>
      </form>
    </div>
  </div>