<div id="full-cover-background" class="flex flex-col items-center p-4 min-h-screen">

  <div id="centered-block" class="bg-white p-6 rounded-xl shadow-md w-full max-w-3xl mx-auto my-6 mt-10 sm:mt-50">

    <div class="hidden sm:block overflow-x-auto w-full">
    <mat-table [dataSource]="todos" class="mat-elevation-z8 w-full">

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef class="text-white"> Titre </mat-header-cell>
            <mat-cell *matCellDef="let row" class=" !text-cyan-900"> {{row.title}} </mat-cell>
          </ng-container>

        <ng-container matColumnDef="priorite">
            <mat-header-cell *matHeaderCellDef class="text-white"> Priorité </mat-header-cell>
            <mat-cell *matCellDef="let row" class=" !text-cyan-900"> {{row.priorite}} </mat-cell>
          </ng-container>
      
   
        <ng-container matColumnDef="dueDate">
          <mat-header-cell *matHeaderCellDef class="text-white"> Echéance </mat-header-cell>
          <mat-cell *matCellDef="let row" class=" !text-cyan-900"> {{row.dueDate| date:'dd/MM/yyyy'}}  </mat-cell>
        </ng-container>
      
   
        <ng-container matColumnDef="completed">
          <mat-header-cell *matHeaderCellDef class="text-white"> Complétion </mat-header-cell>
          <mat-cell *matCellDef="let row" class=" !text-cyan-900"> {{row.completed ? 'Oui' : 'Non' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="textarea">
            <mat-header-cell *matHeaderCellDef class="text-white text-center"> Description </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center !text-cyan-900"> {{row.textarea}} </mat-cell>
          </ng-container>
      
        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="['title', 'priorite','dueDate', 'completed', 'textarea']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title','priorite', 'dueDate', 'completed', 'textarea']"></mat-row>
      </mat-table>
      
    </div>

    <!-- Cartes pour mobile -->
<div class="block sm:hidden w-full space-y-4">
  <div *ngFor="let todo of todos" class="bg-cyan-700 p-4 rounded-xl shadow-md">
    <p class="text-sm text-white tracking-wide">Titre: {{todo.title}}</p>
    <p class="text-sm  text-white tracking-wide">Priorité: {{todo.priorite}}</p>
    <p class="text-sm  text-white tracking-wide">Echéance: {{todo.dueDate | date:'dd/MM/yyyy'}}</p>
    <p class="text-sm  text-white tracking-wide">Complétion: {{todo.completed ? 'Oui' : 'Non'}}</p>
    <p class="text-sm  text-white tracking-wide">Description:{{todo.textarea}}</p>
  </div>
    </div>


</div>