  .mat-mdc-header-cell {
    background-color: var(--color-cyan-600)  !important;
    display: flex;
    justify-content: center;
  }

  .mat-mdc-cell {
    display: flex;
    justify-content: center;
  }
