<div id="full-cover-background"
  class="mx-auto rounded-[40px] border border-gray-200 bg-white 
         p-6 md:p-8 text-sm flex flex-col mt-20 max-w-2xl">

  <div *ngIf="projetForm" id="centered-block" class="w-full max-w-2xl">

    <!-- Header -->
    <mat-card-header class="w-full flex justify-center mb-15">
      <h2 class="text-center text-xl font-semibold text-gray-500">
        Modifier le projet
      </h2>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="projetForm" (ngSubmit)="onSubmitProjet()">

        <!-- Champ caché -->
        <input type="hidden" formControlName="id" />

        <!-- Champs -->
        <div class="space-y-3">
          <!-- Titre -->
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Titre</mat-label>
            <input matInput formControlName="title" type="text" placeholder="Titre du projet" />
          </mat-form-field>

          <!-- Description -->
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="4"></textarea>
          </mat-form-field>
        </div>

        <!-- Boutons -->
        <div class="flex justify-center gap-6 mt-15">
          <!-- Enregistrer -->
          <button mat-raised-button type="submit"
            class="px-6 py-2 rounded-lg !bg-emerald-200 text-black hover:!bg-emerald-300">
            Enregistrer
          </button>

          <!-- Annuler -->
          <button mat-stroked-button (click)="onCancel()"
            class="px-6 py-2 rounded-lg border !border-gray-300 !text-gray-700 hover:!bg-gray-100">
            <mat-icon>arrow_back</mat-icon> Annuler
          </button>

          <!-- Supprimer -->
          <button mat-stroked-button (click)="onDelete(projet.id)"
            class="px-6 py-2 rounded-lg border !border-red-200 !text-red-600 hover:!bg-red-200 hover:!text-red-800">
            Supprimer
          </button>

        </div>

      </form>
    </mat-card-content>

  </div>
</div>